::after
::before
{
  margin: 0;
  padding: 0;
  box-sizing: 0;  
}
body {
    color: #1D6213;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #1D6213;
}

.header-menu {
    width: 100%;
}
.header-menu ul {
    display: flex;
    margin-top: 20px;
    margin-left: 150px;
    list-style: none;
    align-items: center;
}
.donate{
    background-color: #53B35A;
    color: white;
     font-size: 32px;
    width: 250px;
    height: 102px;
    border: 0;
    border-radius: 90px;
    cursor: pointer;
    margin-right: 20px;
    text-align: center;
    align-content: center;
    padding: 0 40px;
}
.otchet{
    background-color: #53B35A;
    color: white;
    font-size: 32px;
    width: 283px;
    height: 108px;
    border: 0;
    border-radius: 90px;
    cursor: pointer;
    margin-right: 450px;
    text-align: center;
    align-content: center;
    padding: 0 40px;
}
.logout{
    background-color: #53B35A;
    color: white;
    font-size: 32px;
    width: 252px;
    height: 102px;
    border: 0;
    border-radius: 90px;
    cursor: pointer;
    margin-left: 600px;
    margin-right: 20px;
    text-align: center;
    align-content: center;
    padding: 0 40px;
}
